{% extends 'shift_manager/base.html' %}

{% block content %}

<p> Create Shift </p>

<form action="{% url 'shift_manager:generate_dates' %}" method='post'>
    {% csrf_token %}
    {{form.as_div}}
    <button name='submit'>Generate dates </button>
</form>

{% if generated_dates %}
  <h3>Allocating Shifts For:</h3>
  <form method="post" action="{% url 'shift_manager:create_shift' %}">
    {% csrf_token %}
    <table border="1" cellpadding="8">
      <thead>
        <tr>
          <th>Day / Date</th>
          {% for pattern in patterns %}
            <th>
                <b>{{pattern.name}}</b>
            </br>
            {{pattern.department}}
            </br>
            {{pattern.start_time}} - {{pattern.end_time}}
        </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for day in generated_dates %}
          <tr>
            <td>{{ day.day_name }} ({{ day.date }})</td>
            {% for pattern in patterns %}
              <td style="text-align:center;">
                {% for user in users %}
                {{user.name}}
                <input 
                  type="checkbox" 
                  name="shift_assignment" 
                  value="{{ day.date|date:'Y-m-d' }}|{{ pattern.id }}|{{ user.id }}"
                >
                {% endfor %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <br>
    <button type="submit">Create Shifts</button>
  </form>
{% endif %}



{% endblock content %}