{% extends 'shift_manager/base.html' %}

{% block content %}

<h2>Viewing {{user.name}}'s Shifts</h2>

{% if shifts %}
    <ul>
    {% for shift in shifts %}
        <li>
            {{ shift.shift_start|date:"D, d M Y" }} → 
            {{ shift.shift_end|date:"D, d M Y" }}
            <br/>
            <h3>Shift Pattern: {{shift.pattern.name}}</h3>
            {{ shift.pattern.start_time }} → 
            {{ shift.pattern.end_time }}

        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>{{user.name}} has no assigned shifts.</p>
{% endif %}

{% endblock content %}
