{% extends 'shift_manager/base.html' %}

{% block content %}

<h2>Viewing {{user.name}}'s Shifts</h2>

{% if shifts %}
    <ul>
    {% for shift in shifts %}
        <li>
            {{ shift.date }}
            <br/>
            <h3>Shift Pattern: {{shift.pattern.name}}</h3>
            {{ shift.pattern.start_time }} → 
            {{ shift.pattern.end_time }}
            </br>
            <h4>Shift Manager: {{ shift.manager }}</h4>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>{{user.name}} has no assigned shifts.</p>
{% endif %}

{% endblock content %}
